@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Signika+Negative:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: kendal;
  src: url(../../assets/ACaslonPro-Regular.otf);
}
@font-face {
  font-family: rejouice;
  src: url(../../assets/Rejouice-Headline.ttf);
}

.home-main-container {
  width: 100%;
  height: 100vh;
}

header {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(243, 233, 213);
  transition: all 0.5s ease-in-out;
}

#cursor {
  height: 6rem;
  width: 6rem;
  background-color: #ff5f38;

  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transform: translate(-50%, -50%);
  opacity: 0;
  scale: 0;
  transition: opacity 0.3s, scale 0.3s;
}

#cursor h5 {
  font-size: 1.15vw;
  font-weight: 500;
  margin: 0;
}

.home-header-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: opacity 0.5s, transform 0.5s;
}

.home-header-content p {
  color: #f05941;
  font-size: 2rem;
  position: absolute;
  bottom: 25%;
  right: 3%;
}

.home-header-content .swrajrise-letters {
  width: 100%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  font-size: 16rem;

  font-family: rejouice;
  margin-left: -1rem;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 12%;
  left: 0%;
  transition: opacity 0.5s, transform 0.5s;
}

.home-header-content .swrajrise-letters.hidden {
  opacity: 0;
  transform: scale(0);
}

.header-nav-container {
  transition: opacity 0.5s, transform 0.5s;
}

.header-nav-container.hidden {
  opacity: 0;
  transform: scale(0);
}

.header-right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #f05941;
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  right: 1%;
  border-radius: 50%;
}
.header-right-button button {
  cursor: pointer;
  border: none;
  color: black;
}
.header-left-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #f05941;
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 1%;
  border-radius: 50%;
}
.header-left-button button {
  cursor: pointer;
  border: none;
  color: black;
}

.circle-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 5%;
  left: 45%;
}
.circle-divs div {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 1px solid white;
}
.circle-divs div.active {
  background-color: white;
}
.home-header-content h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  position: absolute;
  bottom: 8%;
  left: 5%;
  font-weight: 500;
}

/* about firm */

.about-firm-section {
  width: 100%;
  background-color: rgb(243 233 213);
  /* background-color: rgb(197, 197, 197); */
}
.about-firm-content {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.about-firm-img {
  width: 65%;
}
.about-firm-img img {
  position: absolute;
  top: 4rem;
  left: 22rem;
  width: 34rem;
  height: 38rem;
}
.about-firm-img iframe {
  position: absolute;
  top: 14rem;
  left: 6rem;
  width: 46rem;
  height: 34rem;
}
.about-firm-img video {
  position: absolute;
  top: 14rem;
  left: 6rem;
  width: 46rem;
  height: 34rem;
}
.about-firm-info {
  width: 35%;
  position: absolute;
  top: 2rem;
  right: 0;
  padding-right: 2rem;
  padding-left: 2rem;
}
.play-icon-container {
  position: absolute;
  top: 29rem;
  left: 25.5rem;
  border-radius: 50%;
  animation: wave 1.2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  cursor: pointer;
}
.show {
  /* position: absolute; */
  font-size: 2rem;
  font-weight: 300;
  z-index: 9;
  /* top: 25rem;
  left: 22.5rem; */
  color: #f3e9d5;
}

.hide {
  display: none;
}

.about-firm-info h1 {
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
}
.about-firm-info h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: -2rem;
}
.about-firm-info p {
  font-weight: 500;
  font-family: kendal;
  font-size: 1.6rem;
  line-height: 1.5rem;
  line-height: 2rem;
}
.about-firm-info button {
  border: 1px solid rgb(83 100 82);
  background-color: rgb(83 100 82);
  padding: 1rem 3rem;
  border-radius: 0.2rem;
  color: white;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  word-spacing: 0.3rem;
}
.about-firm-info button:hover {
  background-color: transparent;
  color: black;
}

/* our-projects-section */

.our-projects-section {
  width: 100%;
  padding: 2rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-projects-text {
  text-align: center;
  padding: 2rem 0;
}
.our-projects-section h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  margin-top: -1rem;
  color: white;
  letter-spacing: 0.1rem;
}
.our-projects-section h5 {
  color: white;

  text-transform: uppercase;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;

  line-height: 1.5rem;
  margin-top: -2rem;
  letter-spacing: 0.3rem;
}
.button-link {
  text-decoration: none;
  color: white;
}
.button-link:hover {
  color: black;
}
.our-projects-section button {
  margin: 4rem 0;
  border: 1px solid white;
  height: 3.3rem;
  background-color: transparent;
  padding: 0 3.5rem;
  border-radius: 0.2rem;
  color: white;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  word-spacing: 0.3rem;
}

.our-projects-section button:hover {
  background-color: white;
  color: black;
}

/* images */
.our-projects-img {
  display: flex;
  flex-wrap: wrap;
}

.our-projects-img .img-container {
  height: 22rem;
  width: 30rem;
  overflow: hidden; /* Hide the overflow of the image */
  position: relative;
  cursor: pointer;
}

.our-projects-img .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transition: transform 1s, filter 1s;
  position: absolute; /* Allow the image to be positioned absolutely */
}

.our-projects-img .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
  z-index: 2;
}

.our-projects-img .img-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.our-projects-img .img-container .overlay h3 {
  font-size: 2rem;
}

.our-projects-img .img-container .overlay h3,
.our-projects-img .img-container .overlay p {
  margin: 0.5rem 0;
}

.our-projects-img .img-container .overlay button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.our-projects-img .img-container .overlay button:hover {
  background-color: white;
  color: black;
}

.our-projects-img .img-container:hover img {
  transform: scale(1.1);
  filter: brightness(0.7);
}

/* owner-section */

.owner-section {
  margin-top: -4rem;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.owner-images {
  width: 100%;
  height: 100vh;
  /* height: 43rem; */
  position: relative;
}

.owner-images #owner-gym-video {
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  width: 100%;
  height: 100vh;
  /* height: 43rem; */
}

.owner-images .video-two-thumbnail {
  /* min-width: 1000px; */
  /* height: 100%; */
  /* text-align: right; */
  /* padding-right: 100px; */
  position: absolute;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

.play-icon-container-two {
  /* position: absolute;
  top: 100%;
  left: 100%; */
  border-radius: 50%;
  animation: wave 1.2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  cursor: pointer;
}

.showtwo {
  font-size: 2rem;
  font-weight: 300;
  z-index: 9;

  color: #f3e9d5;
}
.hidetwo {
  display: none;
}
.opacityzero {
  opacity: 0;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4),
      0 0 0 2px rgba(255, 255, 255, 0.4), 0 0 0 15px rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4),
      0 0 0 15px rgba(255, 255, 255, 0.4), 0 0 0 30px rgba(11, 165, 255, 0);
  }
}

.owner-images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0) 70%
  );
  z-index: 1;
  pointer-events: none;
}

/* .owner-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
} */
.owner-content {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
}
.owner-content h1 {
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  line-height: 3.5rem;
}
.owner-content p {
  margin-top: -1rem;
  font-weight: 500;
  font-family: kendal;
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.owner-content button {
  margin-top: 1rem;
  width: 20rem;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.5s;
  border: none;
}
.owner-content button:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

/* come-soon*/
.come-soon-section {
  padding-top: 4rem;
  width: 100%;
  overflow: hidden;
  /* background-color: rgb(171 149 129); */
  background-color: rgb(243 233 213);
}
.come-soon-text h1 {
  padding-left: 2rem;
  font-size: 9vw;
  font-weight: 100;
  font-family: rejouice;
  margin-top: -0.1rem;
}

/* image wrapper */

.swiperdiv1 {
  height: 60vh;
  width: 100%;

  position: relative;
}
.swiper1 {
  width: 130%;
  height: 100%;
}

.container {
  margin-top: -3%;
}

.image-wrapper {
  display: flex;

  gap: 1rem;
  animation: scrollImages 60s linear infinite; /* Adjust animation duration as needed */
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  font-size: 18px;
}

.image-wrapper img {
  display: block;
  width: 18.6%;

  object-fit: cover;
}

.image-wrapper video {
  display: block;
  width: 18.6%;

  object-fit: cover;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Ensure images wrap seamlessly */
.image-wrapper img:last-child {
  margin-right: -100%;
}

/* our-team-section */
.our-team-section {
  width: 100%;
  height: 100vh;
  background-color: rgb(243 233 213);
}
.our-team-text {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-team-text h1 {
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
}
.our-team-text button {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.1rem;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.5s;
}
.our-team-text button:hover {
  background-color: black;
  color: white;
}
.team-card-images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.team-card {
  margin-top: -3rem;
}

/* swarajrise span letters gsap */
